@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

/*         INDEX MAIN          */
main#right {
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#greeting_box {
  position: relative;
}

div#main {
  /* height: 100%; */
  padding: 30px 30px;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

.greeting {
  position: absolute;
  font-size: 10rem;
  letter-spacing: 5px;
}

.greeting:after {
  animation: abomination1 4s linear infinite;
  animation-fill-mode: forwards;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
}

@keyframes abomination1 {
  5% {
    content: "H";
  }
  10% {
    content: "He";
  }
  15% {
    content: "Hel";
  }
  20% {
    content: "Hell";
  }
  25% {
    content: "Hello";
  }
  30% {
    content: "Hello.";
  }
  100% {
    content: "";
  }
}

span#name {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-family: "Rampart One", sans-serif;
}

span#surname {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Rampart One", sans-serif;
}

#title {
  font-size: 2rem;
  padding-top: 20px;
}

#line_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-left: 3px solid grey;
}

div#fullname {
  margin-left: 60px;
  display: flex;
  width: 100%;
  border-bottom: 3px solid grey;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

/* Media queries for further adjustments on smaller screens */
@media (max-width: 1366px) {
  main#right {
    overflow: hidden
  }

  #line_box {
    border-left: none;
    align-items: center;
  }

  .greeting {
    position: relative;
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  div#fullname {
    border-bottom: none;
  }

  span#name {
    font-size: 4rem;
  }

  span#surname {
    font-size: 3rem;
  }
}

@media (max-width: 560px) {
  body {
    grid-template-columns: 1fr;
  }

  #nav_logo {
    top: 0;
    left: 5%;
  }

  div#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .greeting {
    top: 10%;
    left: 40%;
    position: absolute;
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  span#name {
    font-size: 3rem;
  }

  span#surname {
    font-size: 2rem;
  }

  #title {
    font-size: 1.5rem;
  }

  .greeting {
    left: 25%;
  }
}

@media (max-width: 320px) {
  .greeting {
    font-size: 3rem;
  }

  span#name {
    font-size: 2rem;
  }

  span#surname {
    font-size: 1.5rem;
  }
  #title {
    font-size: 1rem;
  }

  .greeting {
    top: 20%;
  }
}
