:root {
  --black: #2e2e2e;
  --beige: #e8e4d3;
  --green: #325938;
  /* --lightgreen: #e1eedd; */
  --yellow: #f6c453;
  --lightyellow: #f3e3bf;
  --orange: #dc7e19;
  --white: #ffffff;
  }
/*          MAIN PROJECTS        */

h1 {
  font-size: 5rem;
}

main {
  padding: 50px 100px;
}

div.project_box {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

div.project_card {
  opacity: 0.7;
  transition: opacity 300ms ease, transform 150ms ease-in-out;
}

div.project_card:hover {
  cursor: pointer;
  opacity: 1; /* Fully opaque on hover */
  transform: translateY(-15px);
}

.project_photo {
  width: 400px;
  /* opacity: 0.7; */
}

span {
  font-size: 1rem;
}

.tools {
  margin: 10px 0px;
}

.tools i {
  color: var(--black);
  font-size: 25px;
  margin-right: 10px;
}
