:root {
  --black: #2e2e2e;
  --beige: #e8e4d3;
  --green: #325938;
  /* --lightgreen: #e1eedd; */
  --yellow: #f6c453;
  --lightyellow: #f3e3bf;
  --orange: #dc7e19;
  --white: #ffffff;
  }
/*          MAIN PROJECTS        */

header#left {
    position: relative;
}

h1 {
  font-size: 5rem;
}

main {
  padding: 50px 100px;
}

div.project_box {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

div.project_card {
  opacity: 0.7;
  transition: opacity 300ms ease, transform 150ms ease-in-out;
}

div.project_card:hover {
  cursor: pointer;
  opacity: 1; /* Fully opaque on hover */
  transition: 500ms ease-in-out all;
  transform: translateY(-15px);
}

.project_container{
  position: relative;
  text-align: center;
  color: white;
}

.project_photo {
  width: 400px;
  /* opacity: 0.7; */
}

#project_gif {
  width: 400px;
  height: 215px;
}

.project_button {
  color: var(--white);
  text-decoration: none;
}

.view_button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms ease-in-out all;
  background-color:var(--yellow);
  width: 60px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
}

.view_button:hover {
  background-color: #f5d489;
  opacity: 0.9;
}
div.project_card:hover .view_button {
  display: block;
}

span {
  font-size: 1rem;
}

.tools {
  margin: 10px 0px;
}

.tools i {
  color: var(--black);
  font-size: 25px;
  margin-right: 10px;
}

/* Media queries for further adjustments on smaller screens */
@media (max-width: 1366px) {
  main {
    padding: 50px;
  }

  .project_photo {
    width: 350px;
  }
  div.project_box {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .nav_menu_item a {
    font-size: 2rem;
  }

  .nav_menu_item a {
    transform: scale(1.2);
  }

  .project_photo {
    width: 300px;
    height: auto;
  }

  #project_gif {
    width: 300px;
    height: auto;
  }

  #email {
    font-size: 0.5rem;
  }
}

@media (max-width: 768px) and (max-height: 600px) {
  span {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }

  .tools i {
    font-size: 20px;
  }

  #email {
    display: none;
  }

  #nav_logo {
    /* width: 60px;
    height: 60px;
    position: absolute; */
    display: none;
  }
}

@media (max-width: 480px) and (max-height: 800px) {

  .project_photo {
    width: 200px;
    height: auto;
  }

  span {
    font-size: 0.8rem;
  }

  #project_gif {
    width: 200px;
    height: auto;
  }
}
