/*            SKILL MAIN           */
main {
  /* height: 100vh; */
  padding: 50px 100px;
}

h1#skills {
  font-size: 5rem;
}

#skills_container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.skills_box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.skill {
  line-height: 40px;
  font-size: 1.2rem;
}

div#box_one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Ensure the hover effect covers all child elements */
#box_one * {
  background-color: inherit;
}

#box_one:hover {
  background-color: azure;
}
